<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="contact"></div>
        <div class="logo"></div>
        <nav>
            <div class="social"></div>
            <div class="navbar"></div>
        </nav>
    </header>
    <main>
        <section class="check-out"></section>
        <section class="about">
            <div class="div"></div>
        </section>
        <section class="rooms">
            <div class="category"></div>
        </section>
        <section class="events">
            <div class="date"></div>
        </section>
        <section class="appointment">
            <div class="register">
            </div>
        </section>
        <section class="location">
            <div class="map"></div>
        </section>
    </main>
    <footer>
        <section class="purchase"></section>
        <section class="info">
            <div class="info-bar"></div>
        </section>
    </footer>
    
</body>
</html>